$shadow: 2px 2px 4px #505050;

#calendarGroupArea {
  margin-bottom: 5px;
}

.calendarLeftButton {
  text-align: center;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 2px;
  background-color: rgba(0, 66, 82, 0.849);
  margin-bottom: 5px;
  padding: 20px 5px;
  cursor: pointer;
  box-shadow: $shadow;
}
