$color-dark-blue: #004152;
$color-light-blue: #028caf;
$color-grey: #999999;
$color-orange: #ff9925;
$color-black: #000000;
$color-white: #ffffff;
$color-alert: #a00000;

$shadow: 2px 2px 4px #505050;

$font-size-medium: 25px;
