body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#burgerButton {
  position: absolute;
  top: 0px;
  left: 10px;
  transition: margin-top 0.4s;
  color: #dddddd;
  font-size: 40px;
  cursor: pointer;
}

#burgerButton:hover {
  color: #ff9925;
  transition: 0.4s;
}

#languageButton,
#btnradio1,
#btnradio2 {
  position: absolute;
  top: 8px;
  right: 10px;
  color: white;
}

#header,
#footer {
  background: #028caf;
  background-image: linear-gradient(to right, #004152, #028caf);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px #505050;
  text-shadow: 2px 2px 4px #505050;
}

#header > div {
  padding-left: 15px;
}

.offCanvasMenuClass {
  height: 0px;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.94);
  overflow: hidden;
  transition: 0.4s;
}

.offCanvasMenuClass a {
  text-align: left;
  margin-left: 20px;
  margin-top: 30px;
  text-decoration: none;
  font-size: 25px;
  color: #999999;
  display: block;
  transition: 0.4s;
  text-shadow: none;
}

.offCanvasMenuClass a:hover {
  color: white;
}

#taxGroupArea,
#calendarGroupArea,
#currencyGroupArea {
  margin-bottom: 5px;
}

.tButtons,
.cButtons,
.curButtons,
.countArea,
.trButtons {
  text-align: center;
  font-weight: bold;
  color: white;
  border-radius: 2px;
  background-color: #004152;
  margin-right: -10px;
  margin-bottom: 5px;
  padding: 20px 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #505050;
}

.countArea {
  margin-right: 0px;
}

.countArea,
.trButtons {
  margin-bottom: 0px;
}

.cButtons {
  cursor: default;
  border: none;
  background-color: rgba(0, 66, 82, 0.849);
}

.tArea,
.cArea,
.curArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, rgba(0, 66, 82, 0.8), rgba(2, 140, 175, 0.8));
  border: 0.5px solid #004152;
  color: white;
  border-radius: 2px;
  padding: 5px 5px;
  text-align: center;
  height: 100%;
  box-shadow: 2px 2px 4px #505050;
}

.tArea {
  justify-content: center;
}

.buttonClicked {
  background-color: #ff9925;
}

input {
  display: block;
  width: 200px;
  font-size: large;
  text-align: center;
  font-weight: bold;
  background-color: white;
  border: 2px solid #004152;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #505050;
  padding: 5px;
  margin: 1px;
}

#calendarInput:invalid,
#enteredSum:invalid {
  border-color: #a00000;
}

input:focus {
  outline: 0px solid #004152;
}

.curButtons:hover,
.tButtons:hover,
.countArea:hover,
.trButtons:hover {
  outline: 3px solid #ff9925;
}

#currencyChooseMenu {
  height: 200px;
  overflow: auto;
}

#currencyChooseMenu::-webkit-scrollbar {
  display: none;
}

#currencyChooseMenu > a:hover {
  background-color: #dddddd;
}

#resultGroup {
  border: 0.5px solid #004152;
  color: #004152;
  border-radius: 2px;
  padding: 5px 5px;
  height: 100%;
  box-shadow: 2px 2px 4px #505050;
}

#donationIco {
  color: #004152;
}

#toCalc a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: normal;
}

#resultHiddenArea,
#resultComments {
  opacity: 0;
}

.hidResult {
  animation-name: zoom;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.hidComment {
  animation-name: zoom;
  animation-delay: 0.1s;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.inputerror {
  text-align: center;
  font-size: small;
  color: #a00000;
  background-color: #dddddd;
  border: 1px solid #004152;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #505050;
}

iframe {
  border-radius: 5px;
}
