$dblue: #004152;
$blue: #028caf;
$orange: #ff9925;
$alert-color: #a00000;
$shadow: 2px 2px 4px #505050;

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#languageButton,
#btnradio1,
#btnradio2 {
  position: absolute;
  top: 8px;
  right: 10px;
  color: white;
}

#header,
#footer {
  background: $blue;
  background-image: linear-gradient(to right, $dblue, $blue);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;
  text-shadow: $shadow;
}

#header > div {
  padding-left: 15px;
}

#taxGroupArea,
#currencyGroupArea {
  margin-bottom: 5px;
}

.tButtons,
.curButtons,
.countArea,
.trButtons {
  text-align: center;
  font-weight: bold;
  color: white;
  border-radius: 2px;
  background-color: $dblue;
  margin-bottom: 5px;
  padding: 20px 5px;
  cursor: pointer;
  box-shadow: $shadow;
}

.countArea {
  margin-right: 0px;
}

.countArea,
.trButtons {
  margin-bottom: 0px;
}

.tArea,
.cArea,
.curArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 66, 82, 0.8),
    rgba(2, 140, 175, 0.8)
  );
  border: 0.5px solid $dblue;
  color: white;
  border-radius: 2px;
  padding: 5px 5px;
  text-align: center;
  height: 100%;
  box-shadow: $shadow;
}

.tArea {
  justify-content: center;
}

.buttonClicked {
  background-color: $orange;
}

input {
  display: block;
  width: 200px;
  font-size: large;
  text-align: center;
  font-weight: bold;
  background-color: white;
  border: 2px solid #004152;
  border-radius: 3px;
  box-shadow: $shadow;
  padding: 5px;
  margin: 1px;
  &:focus {
    outline: 0px solid $dblue;
  }
}

.curButtons,
.tButtons,
.countArea,
.trButtons,
#calendarInput,
#enteredSum {
  &:hover {
    outline: 3px solid $orange;
  }
}

#currencyChooseMenu {
  height: 200px;
  overflow: auto;
}

#currencyChooseMenu::-webkit-scrollbar {
  display: none;
}

#currencyChooseMenu > a:hover {
  background-color: #dddddd;
}

#resultGroup {
  border: 0.5px solid $dblue;
  color: $dblue;
  border-radius: 2px;
  padding: 5px 5px;
  height: 100%;
  box-shadow: $shadow;
}

#donationIco {
  color: $dblue;
}

#toCalc a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: normal;
}

#resultHiddenArea,
#resultComments {
  opacity: 0;
}

.hidResult {
  animation-name: zoom;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.hidComment {
  animation-name: zoom;
  animation-delay: 0.1s;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.inputerror {
  text-align: center;
  font-size: small;
  color: $alert-color;
  background-color: #dddddd;
  border: 1px solid $dblue;
  border-radius: 3px;
  box-shadow: $shadow;
}

iframe {
  border-radius: 5px;
}
